<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiTablasDinamcias.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B35865C420BC74BA00E3CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35865D820BC74BB00E3CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35865E320BC74BB00E3CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
